<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Register</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/stylesheets/register.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <form class="form" method="post" action="/users/register">
            <input name="name" type="text" class="name" placeholder="Name" required>
                <div>
                    <p>Enter your first and last name.</p>
                </div>
                <input name="email" type="email" class="email" placeholder="Email" required>
                
                <div>
                    <p>Please enter your current email address.</p>
                </div>

                <input type="password" name="password" class="password" placeholder="Password">

                <div >
                    <p>Enter Password</p>
                </div>
        <input type="submit" class="submit" value="Register">
        </form>
</div>
    </body>
</html>